.Button {
    display: flex;
    align-items: center;
    justify-content: center;

    .ButtonSpan {
        font-family: 'Roboto', sans-serif;
        font-size: 3.25rem;
        line-height: 3.75rem;
        letter-spacing: 0.04rem;
        cursor: default;
        padding: 50px;
    
        background: linear-gradient(
            to right,
            #b2a8fd 0%,
            #584ea6 20%,
            #c7d2fe 45%,
            #7e7bc4 65%,
            #584ea6 90%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 500% auto;
        animation: text-gradient 3.5s ease-in-out infinite alternate;
    
        @keyframes text-gradient {
            0% {
                background-position: 0% 50%;
            }
            100% {
                background-position: 100% 50%;
            }
        }
    }
}

