.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #202020;

    &Input {
        box-sizing: border-box;
        max-width: 300px;
        margin: 50px;
    }
    &Button {
        max-width: 300px;
        margin: 50px;
    }
}