.Home {
    button {
        color: black;
    }
    

    main {
        display: flex;
        flex-direction: column;
        margin: 2% 3% 2% 3%;
        align-items: center;
        
        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1% 0;
            width: 100%;
            background-color: #202020;
            border-radius: 0.375rem;
            box-shadow: 0px 5px 7px 8px rgba(0, 0, 0, 0.2);
            padding-bottom: 2rem;

            h2 {
                margin: 1.5rem 0 2rem;
                font-size: 2rem;
            }
        }
    }
}