.card {
    overflow: hidden; 
    position: relative; 
    border-radius: 0.75rem; 
    border-width: 1px; 
    //width: 75rem; 
    //height: 50rem; 
    backdrop-filter: blur(64px); 
    padding: 1px;
    border-color: rgb(30 41 59);
    box-shadow: 0px 5px 10px 8px rgba(0, 0, 0, 0.2);

    &Span {
        position: absolute; 
        inset: -1000%;
        background: conic-gradient(from 90deg at 50% 50%, #E2CBFF 0%, #393BB2 50%, #E2CBFF 100%);

        animation: spin 2s linear infinite;

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

    }
    &Background {
        display: inline-flex; 
        border-radius: 0.75rem; 
        width: 100%; 
        height: 100%; 
        font-size: 0.875rem;
        line-height: 1.25rem; 
        font-weight: 500; 
        color: #ffffff; 
        backdrop-filter: blur(64px); 
        background-color: #202020;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
}