.Input {
    position: relative;
    width: 100%;
    

    &Content {
        height: 2rem;
        //width: 100%;
        cursor: default;
        border-radius: 0.375rem; 
        border-width: 1px;
        border-style: solid;
        border-color: rgb(30 41 59);
        background-color: rgb(10 10 10);
        padding: 0.875rem; 
        color: rgb(241 245 249);
        box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.04rem;

        transition-property: background-color, border-color, color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        transition-duration: 500ms;

        &::placeholder {
            user-select: none;
            color: rgb(115 115 115);

            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            letter-spacing: 0.04rem;
        }

        &:focus {
            border-color: #8678F9;
            outline-style: none;
        }
    }

    &Animated {
        pointer-events: none;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        //width: 90%;
        height: 2rem;
        cursor: default;
        border-radius: 0.375rem;
        border-width: 1px;
        border-color: #8678F9;
        border-style: solid;
        background-color: transparent;
        padding: 0.875rem;
        opacity: 0;

        font-family: 'Roboto', sans-serif;
        font-size: 1rem;

        transition-property: opacity;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        transition-duration: 300ms;

        &::placeholder {
            user-select: none;
        }
    }
}