.Container {
    .ContainerButton {
        position: relative;
        display: inline-flex;
        justify-content: center;
        height: 3.5rem;
        width: 100%;
        align-items: center;
        overflow: hidden;
        border-radius: 0.375rem;
        border-width: 1px;
        border-color: rgb(30 41 59);
        cursor: pointer;
    
        background-image: linear-gradient(
            to top,
            rgb(30 41 59),
            rgb(2 6 23)
        );
    
        // padding-left: 1.5rem;
        // padding-right: 1.5rem;
        padding: 1.5rem;
    
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: rgb(203 213 225);
        font-size: 1.4rem;
        letter-spacing: 0.04rem;
    
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    
        &:focus {
            outline: 2px solid transparent;
            outline-offset: 2px;
            box-shadow: rgb(148 163 184) 0 0 0 calc(2px + 2px) #f8fafc;
        }
    
        .ButtonHover {
            pointer-events: none;
            position: absolute;
            inset: -10px;
            opacity: 0;
    
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 300ms;
        }
    }
}