.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 3%;
    align-items: center;
    background-color: #202020;
    border-radius: 0.375rem;
    box-shadow: 0px 5px 7px 8px rgba(0, 0, 0, 0.2);

    a {
        color: #fff;
        text-decoration: none;
    }

    ul {
        display: flex;
        flex-direction: row;

        li {
            display: flex;
            background-color: #990000;
            border-color: #fff;
            border-width: 2px;
            border-style: solid;
            border-radius: 0.2rem;
            margin: 0 20px;
            padding: 10px;

            &:hover {
                background-color: #999000;
            }
        }
    }

    &Title {
        margin: 0 20px;
        padding: 10px;
        font-size: 2rem;
    }

    &Avatar {
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        margin: 10px 20px;
        cursor: pointer;
    }
}