.TaskList {
 display: flex;
}

.TaskListOne {
    color: black;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;
    padding: 30px;
    border-radius: 20px;

    h3 {
        padding: 0 10px 10px;
        align-items: center;
    }
}

.Tasks {
    display: flex;
    flex-direction: column;
    align-items: center;

    .TaskOne {
        display: flex;

        .Title {
            margin: 5px;
            cursor: pointer;
        }

        input {
            margin: 5px;
        }
    }
}