$border-color: #ddd;
$selectable-background-color: #ffffff;
$primary-color: #666;
$selected-background-color: rgb(0, 58, 166);
$hover-background-color: rgb(51, 116, 184);
$selected-color: white;

.SG-datepicker {
    user-select: none;
    position: relative;
    margin: 0.5em 0 1em;
    //width: 300px;

    &__calendar-container {
        position: absolute;
        border: 1px solid rgb(203, 203, 203);
        background-color: white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        padding: 15px;
        border-radius: 10px;
        z-index: 1;
        width: 100%;
        box-sizing: border-box;
        height: 21em;
        min-width: 300px;
    }

    &__today {
        cursor: pointer;
        opacity: 0.5;
        font-weight: 700;
        font-size: 0.75em;
        text-transform: uppercase;
        padding: 10px;
        display: block;

        &:hover {
            color: $hover-background-color;
        }
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;

        &-prev {
            cursor: pointer;

            svg {
                display: block;
                width: 30px;
                height: 30px;
                transform: rotate(90deg);
            }
        }

        &-next {
            cursor: pointer;

            svg {
                display: block;
                width: 30px;
                height: 30px;
                transform: rotate(-90deg);
            }
        }

    }

    &__input-container {
        position: relative;
        display: inline-block;
        z-index: 0;
        align-items: center;

        input {
            padding: 10px;
            border-radius: 5px;
            border: 1px $primary-color solid;
            margin: 0;
            display: block;
            box-sizing: border-box;
            cursor: pointer;
            color: #999;
            //width: 100%;

        }

        .calendar-icon {
            cursor: pointer;
            fill: $hover-background-color;
            position: absolute;
            top: 50%;
            right: 10px;
            height: 1.3em;
            transform: translateY(-50%);
        }
    }

    &__body {
        border-collapse: collapse;
        width: 100%;
    }

    &__header {
        th {
            width: auto;
            border-bottom: 1px solid #2e2e2e;
            color: #999;
            font-size: 0.9em;
            text-align: center;
            vertical-align: middle;
            padding: 0;
            height: 2em;
            cursor: default;
        }
    }

    &__day {
        width: 14.2857142857%;
        box-sizing: border-box;
        background: $selectable-background-color;

        color: $primary-color;
        font-size: 0.875em;
        text-align: center;
        vertical-align: middle;
        padding: 5px;
        border-collapse: collapse;
        cursor: pointer;
        height: 2.5em;
        transition: background-color 0.05s ease;
        border-radius: 50%;

        &.off-month {
            opacity: 0.5;
        }

        &.today {
            color: blue;
        }

        &:hover {
            background-color: $hover-background-color;
            color: $selected-color;
        }

        &.selected {
            background-color: $selected-background-color;
            color: $selected-color;
        }

    }

    &__month-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 2.5em);
        margin-top: 45px;
        grid-gap: 10px;
    }

    &__year-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 2.5em);
        grid-gap: 5px;
    }

    &__year,
    &__month {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        font-size: 0.875em;
        border: 1px solid $border-color;
        border-radius: 5px;
        cursor: pointer;
        background-color: $selectable-background-color;
        color: $primary-color;

        &:hover {
            background-color: $hover-background-color;
            color: $selected-color;
        }

        &.selected {
            background-color: $selected-background-color;
            color: $selected-color;
        }
    }

    button {
        background-color: $selectable-background-color;
        color: $primary-color;
        border: $border-color 1px solid;
        border-radius: 5px;
        height: 2.5em;
        padding: 0 1em;
        cursor: pointer;

        &:hover {
            background-color: $hover-background-color;
            color: $selected-color
        }
    }
}